body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- Next three blocks for 6-7 rows and they are illegal ---*/
.redWrapper {
  display: flex;
  height: 60px;
  background-color: red;
  margin-bottom: 20px;
}

.blueWrapper {
  display: flex;
  height: 60px;
  background-color: blue;
  margin-bottom: 20px;
}

.greenExample {
  flex: 1;
  height: 20px;
  background-color: green;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  height: 60px;
  background-color: blue;
}

.redExample2 {
  width: 80px;
  background-color: red;
}

.emptyExample3 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.redExample3 {
  width: 40px;
  height: 40px;
  background-color: red;
}

.goldExample {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.goldExample > * {
  width: 80px;
  background-color: gold;
}

.goldExample2 {
  display: flex;
  flex: 1;
  column-gap: 2em;
}

.goldExample2 > * {
  flex: 1;
  background-color: gold;
}

/* TODO: Add CSS for the rest of your solution below */
